In [2]:
%pylab inline
import mylib.utils as ut
import mylib.preprocess as pp
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [3]:
# read the input files
train_raw = pd.read_csv('./Input/train.csv', parse_dates=[2])
test_raw = pd.read_csv('./Input/test.csv', parse_dates=[3])
store = pd.read_csv('./Input/store.csv')
del test_raw['Id']

/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2871: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
# check if there is any null in the columns
print train_raw.isnull().sum()
print test_raw.isnull().sum()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64
Store             0
DayOfWeek         0
Date              0
Open             11
Promo             0
StateHoliday      0
SchoolHoliday     0
dtype: int64

In [13]:
# check if there are holidays. the holidays of columns themselves are not util 
# as the test set does not have them
train_raw.groupby(['StateHoliday'])['Store'].count()
test_raw.groupby(['StateHoliday'])['Store'].count()

# test set does not have any holidays different than a

StateHoliday
0    40908
a      180
Name: Store, dtype: int64

In [48]:
s = train_raw.groupby(['StateHoliday', 'Date'])['Sales'].agg({'Sales':sum, 'Sales_1':len})
s['mean_day'] = s.Sales/s.Sales_1
print s.reset_index().groupby(['StateHoliday'])['mean_day'].mean()
print s.reset_index().groupby(['StateHoliday'])['mean_day'].std()
print s.reset_index().groupby(['StateHoliday'])['mean_day'].median()

StateHoliday
0    5732.650232
0    5986.128156
a     282.669876
b     214.311510
c     170.679583
Name: mean_day, dtype: float64
StateHoliday
0    2603.578681
0    2817.326216
a     304.588924
b      18.277606
c      37.587366
Name: mean_day, dtype: float64
StateHoliday
0    5782.571300
0    6185.672720
a     213.521973
b     216.172197
c     167.666763
Name: mean_day, dtype: float64

In [60]:
train_raw.loc[train_raw.Sales.order()[-100:]]

/usr/local/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: FutureWarning: order is deprecated, use sort_values(...)
  if __name__ == '__main__':

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
31104,1000,6,2015-07-04,6433,608,1,0,0,0
31141,1037,6,2015-07-04,4052,549,1,0,0,0
31146,1042,6,2015-07-04,2688,379,1,0,0,0
31157,1053,6,2015-07-04,6364,789,1,0,0,0
31185,1081,6,2015-07-04,2459,487,1,0,0,0
31185,1081,6,2015-07-04,2459,487,1,0,0,0
31263,44,5,2015-07-03,6152,687,1,1,0,0
31266,47,5,2015-07-03,7046,861,1,1,0,0
31269,50,5,2015-07-03,4439,388,1,1,0,0
31311,92,5,2015-07-03,7877,638,1,1,0,1
31375,156,5,2015-07-03,6611,660,1,1,0,0
31383,164,5,2015-07-03,6115,630,1,1,0,0
31393,174,5,2015-07-03,6268,475,1,1,0,0
31406,187,5,2015-07-03,8224,897,1,1,0,0
31406,187,5,2015-07-03,8224,897,1,1,0,0
31409,190,5,2015-07-03,8959,759,1,1,0,0
31415,196,5,2015-07-03,5166,698,1,1,0,0
31445,226,5,2015-07-03,7394,694,1,1,0,0
31448,229,5,2015-07-03,10515,846,1,1,0,0
31477,258,5,2015-07-03,7066,585,1,1,0,0
31523,304,5,2015-07-03,8142,1169,1,1,0,0
31527,308,5,2015-07-03,9668,869,1,1,0,1
31533,314,5,2015-07-03,5017,530,1,1,0,1
31609,390,5,2015-07-03,13955,1120,1,1,0,0
31649,430,5,2015-07-03,10043,775,1,1,0,0
31665,446,5,2015-07-03,5411,643,1,1,0,1
31683,464,5,2015-07-03,11391,1340,1,1,0,0
31702,483,5,2015-07-03,4337,530,1,1,0,0
31759,540,5,2015-07-03,6855,433,1,1,0,0
31773,554,5,2015-07-03,5583,663,1,1,0,0
...,...,...,...,...,...,...,...,...,...
33913,464,3,2015-07-01,12037,1294,1,1,0,0
33934,485,3,2015-07-01,5442,421,1,1,0,0
33966,517,3,2015-07-01,8197,796,1,1,0,0
33984,535,3,2015-07-01,10485,1044,1,1,0,1
34001,552,3,2015-07-01,8223,696,1,1,0,0
34133,684,3,2015-07-01,8587,636,1,1,0,0
34369,920,3,2015-07-01,6526,636,1,1,0,0
34475,1026,3,2015-07-01,11077,1225,1,1,0,1
34692,128,2,2015-06-30,12725,836,1,1,0,0
34692,128,2,2015-06-30,12725,836,1,1,0,0
34814,250,2,2015-06-30,11753,739,1,1,0,0
34904,340,2,2015-06-30,9770,878,1,1,0,0
35154,590,2,2015-06-30,6520,432,1,1,0,0
35159,595,2,2015-06-30,20139,1900,1,1,0,0
35350,786,2,2015-06-30,5709,747,1,1,0,0
35697,18,1,2015-06-29,11224,991,1,1,0,0
35702,23,1,2015-06-29,9522,637,1,1,0,0
35909,230,1,2015-06-29,11089,1172,1,1,0,0
36227,548,1,2015-06-29,8157,539,1,1,0,0
36417,738,1,2015-06-29,12725,862,1,1,0,1
37122,328,7,2015-06-28,0,0,0,0,0,0
37376,582,7,2015-06-28,0,0,0,0,0,0
37403,609,7,2015-06-28,0,0,0,0,0,0
37646,852,7,2015-06-28,0,0,0,0,0,0
38025,116,6,2015-06-27,6141,571,1,0,0,0
38037,128,6,2015-06-27,9019,664,1,0,0,0
38367,458,6,2015-06-27,9824,895,1,0,0,0
38484,575,6,2015-06-27,2355,220,1,0,0,0
38722,813,6,2015-06-27,4196,485,1,0,0,0
41551,297,3,2015-06-24,5244,632,1,0,0,0

In [61]:
train_raw.StateHoliday.unique()

array(['0', 'a', 'b', 'c', 0], dtype=object)